body{
    font-family:'Verdana','lucida sans unicode',
'lucida Grande';
    background-color:grey;
}

.main-heading{
    color: black;
    text-align: center;
    
}

#intro{
 
 background-color:white;   
 border: 1px solid black;
 padding: 30px;
 margin-top:20px; 

}